{% extends 'main/base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12 mt-4">
      <div class="card">
        <div class="card-header pb-0 px-3">
          <h6 class="mb-0">Are you sure to delete this record?</h6>
        </div>
        <div class="card-body pt-4 p-3">
            <form method="POST" action="{% url 'delete_bill' bill.id %}">
               {% csrf_token %}
              <div class="mb-3">
                <h6 class="mb-3 text-sm">{{ bill.description }}</h6>
              </div>
              <div class="mb-3">
                <span class="mb-2 text-xs">Category: <span class="text-dark font-weight-bold ms-sm-2">{{ bill.category | title }}</span></span>
              </div>
              <div class="mb-3">
                <span class="mb-2 text-xs">Amount: <span class="text-dark ms-sm-2 font-weight-bold">{{ bill.amount }}</span></span>
              </div>
              <div class="mb-3">
                <span class="text-xs">Created At: <span class="text-dark ms-sm-2 font-weight-bold">{{ bill.created_at | date:'F d, o g:i A'}}</span></span>
              </div>
              <div class="mb-3">
                <span class="text-xs">Updated At: <span class="text-dark ms-sm-2 font-weight-bold">{{ bill.updated_at | date:'F d, o g:i A'}}</span></span>
              </div>
              <div class="mb-3 float-end">
                {% url 'add_bill' as url %}
                <button type="submit" class="btn bg-gradient-dark">Delete</button>
                <a class="btn bg-gradient-primary" href="{% url 'bills_payments' %}">Cancel</a>
              </div>
            </form>
        </div>
      </div>
    </div>
</div>
{% endblock %}